<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Help Page</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="favicon.png">
    <img src="/img/img.svg" alt="" srcset="">
    <script src="/js/app.js"></script>
</head>

<body>
    <h1>{{>header}}</h1>
    <p>For help these are the options</p>
    <h1>{{option}}</h1>
    <h1>{{key_1}}</h1>
    {{>footer}}
</body>

</html>